*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    background-color: gold;
}

@font-face {
    font-family: gilroy;
    src: url(../../Font/gilroy/Gilroy-Medium.ttf);
}

#box3{
    background-color: red;
    height: 200px;
    width: 400px;
    padding: 15px 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    font-family: gilroy;
    font-size: 30px;
    font-weight: 100;
}

h5{
    text-transform: uppercase;
}

